/*header related styles*/
.header {
    background-color: #E554731A;
    width: 1920px;
height: 850px;
flex-shrink: 0;
    

}
.banner {
    padding: 30px 30px 30px 151px;
    display:flex;
    align-items: center;

}
.banner-greetings {
    display: flex;
width: 708px;
flex-direction: column;
flex-shrink: 0;
color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.flower-pic {
    width: 635px;
    height: 800px;
    flex-shrink: 0;

}
.btn-primary {
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
}
.banner-description{
    display: flex;
width: 634px;
flex-direction: column;
flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}