/*header related styles*/
.header {
    background-color: #E554731A;
    width: 100%;
height: 850px;
flex-shrink: 0;
margin:0px;
    

}
.banner {
    padding: 30px 30px 30px 151px;
    display:flex;
    align-items: center;

}
.banner-greetings {
    display: flex;
width: 708px;
flex-direction: column;
flex-shrink: 0;
color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.flower-pic {
    width: 635px;
    height: 820px;
    flex-shrink: 0;

}
.btn-primary {
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.banner-description{
    display: flex;
width: 634px;
flex-direction: column;
flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.flowers-featured {
    margin: 240px 0px 0px 240px;
    gap: 24px;
}
.featured-title {
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.featured-content {


color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
padding:5px

}
.all-flower-box{
    align-items: center;
}
.flower-box {
    display:flex;
    gap: 24px;
}
.box{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flower-icon {
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 76px;
    

}
.icon-name{
    color: #272727;
font-family: Lato;
font-size: 24px;
line-height: 35px;
text-decoration-line: underline;
}
.special-offer {
    padding: 240px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;

}
.offer-flower-pic {
    margin-left: 129px;
    width: 318px;
height: 420px;
flex-shrink: 0;
}
.text-primary {
    color: #E55473;
}
.offer-title{
    
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}
.title {
    color: #272727;
font-family: Lato;
font-style: normal;
font-weight: 800px;
}
.offer-description {
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}
.btn-secondary {
    color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
}
.rose-box {
    display:flex;
    gap: 24px;
}
.instagram-title {
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.instagram-content {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}
.all-rose-box {margin: 0px;
}
.instagram{
    margin: 308px 240px 100px 240px;
}
    